In [1]:
'2' == 2

False

In [3]:
3 != 3

False

In [7]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('I am not hungry')

I am not hungry

In [15]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Luna':
    print("Hello Luna!")
elif name == 'Sammy':
    print("Hello Sammy!")
else: 
    print("What is your name")

Hello Sammy!

In [3]:
#For Loops
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [7]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
for item in mylist:
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [21]:
for item in mylist:
    #check for even number
    if item % 2 == 0:
        print(item)
    else:
        print(f' Odd number: {item}')

 Odd number: 1
2
 Odd number: 3
4
 Odd number: 5
6
 Odd number: 7
8
 Odd number: 9
10

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [25]:
# just like above but indentation of print just changed and became part of the For loop

list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [27]:
#with strings\

my_string= 'Hola Mundo'

for letter in my_string:
    print(letter)

H
o
l
a

M
u
n
d
o

In [31]:
#technically you dont have to assign a variable name to the string

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [35]:
#additionally you dont have to use a variable for the lopp if you are not going to use it later

for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [45]:
#tupples have a special packing when it comes to For Loops - you duplicate the structure of 
#the object you're unpacking and you can have access to each element

tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [39]:
mylist = [(1,2),(3,4),(5,6), (7,8)]
len(mylist)

4

In [41]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [43]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [47]:
for a,b in mylist:
    print(b)

2
4
6
8

In [49]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]
for x, y, a in mylist:
    print(a)

3
6
9

In [51]:
# dictionaries and for loop

d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [53]:
#better we can use the same unpacking technique as above 

for key,value in d.items():
    print(value)

1
2
3

In [57]:
#if you only want the values

for value in d.values():
    print(value)

1
2
3

In [67]:
#While loops
x=0

while x < 5:
    print(f' the current value of x is {x}')
    #x = x + 1
    x+=1
else:
    print('x is bigger than 4')

 the current value of x is 0
 the current value of x is 1
 the current value of x is 2
 the current value of x is 3
 the current value of x is 4
x is bigger than 4

In [77]:
# we can use pass, continue or break statements in por loops to add additional functionality 
# pass: does nothing
# continue: goes to the top of the current closest enclosing loop 
# break: breakout of current closest enclosing loop

x = [1,2,3]

for item in x:
    # if you leave this just with a comment will get an error, so you need a place holder - pass
    pass
print ('end of my script')

end of my script

In [75]:
# Continue
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [79]:
#break
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [83]:
x=0
while x < 5:

    if x == 2:
        break
    print(x)
    x+=1

0
1

In [99]:
#useful operators
#range

In [85]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [89]:
for num in range(3,11, 2):
    print(num)

3
5
7
9

In [97]:
list(range(0,11,2)) #range function is a generator of numbers - generates info instead of saving it all to memory

[0, 2, 4, 6, 8, 10]

In [111]:
#enumerator - enumarate function can take any list type of object and returns a tuple per each element in the form of
# (index,element)

index_count = 0
for letter in 'abeja':
    print ('At index {} the letter is {}'.format(index_count, letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is e
At index 3 the letter is j
At index 4 the letter is a

In [113]:
index_count = 0
word = 'abcde'
for letter in word:
    print (word[index_count])
    index_count+=1

a
b
c
d
e

In [115]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [109]:
#we can use tuple unpacking 
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [121]:
#zip function --- almost the opposite of enumerate
mylist1 = [1,2,3,4,5,6]
mylist2 =['a','b','c']
mylist3 =[100,200,300]

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [123]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [129]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [135]:
# operator IN - let you check if item is in list

'x' in [1,2,3]

False

In [137]:
'a' in 'a world'

True

In [139]:
'mykey' in {'mykey':234}

True

In [141]:
d = {'mykey':234}
234 in d.values()

True

In [143]:
234 in d.keys()

False

In [155]:
# We can combine it with NOT - not in
'x' not in ['x','y','z']

False

In [157]:
# min & max

mylist = [2, 5, 34, 56, 89, 54, 32, 200, 1]
min(mylist)

1

In [159]:
max(mylist)

200

In [161]:
# random from build in python's random library - we'll look at 2 fns from the many that the lib includes 
# shuffle

from random import shuffle 
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [163]:
mylist

[34, 2, 200, 89, 32, 56, 54, 5, 1]

In [167]:
# randint - Return random integer in range [a, b], including both end points.

from random import randint
randint(0,100)

58

In [169]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

39

In [171]:
#input - from user
input('Enter Something into this box: ')

Enter Something into this box:  Hola bella

'Hola bella'