In [5]:
# Maps and Filter and Lambda functions

def square(num):
    return num**2

In [9]:
my_nums = [1,2,3,4,5]
map(square,my_nums) #This could be done with a for loop but its a lot of code and iterations, map can do it better

In [11]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [13]:
#if we want to return it in a list
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [55]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [57]:
names = ['Andy', 'Eve', 'Sally']

In [59]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [61]:
#Filter function - return an iterator yielding those items of the iterable for which when you pass in the item into the function it is true
# so the function that we pass needs to return True or False

def check_even(num): 
    return num%2 == 0

mynums = [1,2,3,4,5,6]

# I only want to grab even from the list - similar to  map function but conditional

filter(check_even, mynums)

In [63]:
#Just like map we need to transform it into a list or iterate through it
list(filter(check_even,mynums))

[2, 4, 6]

In [65]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [67]:
# Lambda expression - first we'll take a function and convert it into Lambda expression
def square(num):
    return num ** 2

In [69]:
square(3)

9

In [71]:
# the following is acceptable in Python although is not good coding for readability
def square(num): return num ** 2

In [73]:
square(3)

9

In [75]:
# this is a lamb ecxpression that will be anonym and only called once
# def square(num): return num ** 2
lambda num: num ** 2

In [77]:
square = lambda num: num ** 2

In [79]:
square(5)

25

In [81]:
square(4)

16

In [83]:
# lambda is typically used in conjunction with Map and Filter function, not assigned to a variable
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [85]:
# now with filter

list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [87]:
# To grab the first letter of string out of a list of string we can use a lambda fn like this

In [89]:
names

['Andy', 'Eve', 'Sally']

In [95]:
list(map(lambda name:name[0], names)) #I want to take the incomming name and rtn back the first character of it

['A', 'E', 'S']

In [99]:
#if I want to reverse the actual strings
list(map(lambda name:name[::-1], names))

['ydnA', 'evE', 'yllaS']