___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [178]:
def animal_crackers(text):
    words = text.lower().split()

    #if words[0][0] == words[1][0]:
    #    return True
    #else:
    #    return False

    #Instead lets simplify
    return words[0][0] == words[1][0]

In [15]:
# Check
animal_crackers('Levelheaded Llama')

True

In [17]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [180]:
# Check
animal_crackers('Crazy cat')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [182]:
def makes_twenty(n1,n2):
   # if n1 == 20 or n2 == 20 or n1+n2 == 20:
   #     return True
    # else:
     #   return False
    #Let's return just 1 line like this:

    return n1 == 20 or n2 == 20 or n1+n2 == 20

In [184]:
# Check
makes_twenty(20,10)

True

In [186]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [194]:
def old_macdonald(name):
    Capname = ''
    for letter in name:
        if len(Capname) == 0 or len(Capname) == 3:
            Capname = Capname + letter.upper()
        else:
            Capname = Capname + letter
    
    return(Capname)

In [196]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [222]:
def old_macdonald1(name):
    #another version of the same using slicing
    
    first_letter = name[0]
    in_btw = name [1:3]
    fourth_letter = name[3]
    rest = name [4:]
    
    return first_letter.upper() + in_btw + fourth_letter.upper() + rest

In [228]:
def old_macdonald2(name):
    #yet another version of the same

    first_half = name[:3]
    sec_half = name[3:]

    return first_half.capitalize() + sec_half.capitalize()

In [226]:
old_macdonald1('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [230]:
def master_yoda(text):
    
    # Separate the text into words
    phrase = text.split()

    # Reverse the order of the words
    phrase.reverse() 
    
    # or you can use slicing 
    # rev_phrase = phrase[::-1] and then return ' '.join(rev_phrase)

    # Put the phrase back together
    rev_phrase = ' '.join(phrase)

    return rev_phrase

In [232]:
# Check
master_yoda('I am home')

'home am I'

In [234]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [236]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [238]:
# Check
almost_there(104)

True

In [240]:
# Check
almost_there(150)

False

In [7]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [246]:
def has_33(nums):
     
    cntnext = 1
    for item in nums:
        if item == 3:
            if nums[cntnext] == 3:    
                return True
        if cntnext < len(nums) - 1: 
            cntnext+=1
        else:
            return False
    
    return False

In [248]:
# Check
has_33([3, 2, 3, 1, 3, 0, 3, 3])

True

In [250]:
# Check
has_33([1, 3, 3])

True

In [252]:
# Check
has_33([1, 3, 1, 3])

False

In [254]:
# Check
has_33([3, 1, 3])

False

In [264]:
def has_33_v1(nums):
    #This is a cleaner version
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3: #We can also use a less readable but valid statement -> if num[i:i+1] == [3,3]:
            return True
    return False

In [266]:
# Check
has_33_v1([3, 1, 3])

False

In [268]:
has_33_v1([1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [270]:
def paper_doll(text):

    paperdollstring = ''

    for letter in text:    #for each letter of text repeat it 3 times
        for index in range(1,4): 
            paperdollstring = paperdollstring + letter   # add it repeated 3 times into the paperdoll new string
        # or like this instead of the second for loop
        # paperdollstring += letter*3
    return paperdollstring

In [272]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [274]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [276]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a, b, c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [278]:
# Check
blackjack(5,6,7)

18

In [280]:
# Check
blackjack(9,9,9)

'BUST'

In [282]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [133]:
def summer_69(arr):
    
    my_sum = 0
    #go through the array and sum all the numbers until the end or until we find a 6
    found6 = False
    found9 = False
    
    for x in arr:
        if x != 6 and not found6:
            my_sum += x
        elif x == 6:   # if 6 is found we dont add to the sum until after we found 9
            found6 = True
        elif x == 9 and found6: # if 9 is found and we already found a 6 then we need to start adding again
            found9 = True
            found6 = False
            
    return(my_sum)

In [135]:
# Check
summer_69([1, 3, 5])

9

In [137]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [139]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [141]:
# Check
summer_69([4, 5, 6, 7, 8, 9, 9, 100, 6,1,10,9,100])

218

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [288]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # 0.7.'x'
    # 7, 'x'
    # 'x' lenght = 1
    for n in nums:
        if n == code[0]:
            code.pop(0)

    return len(code) == 1

In [290]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [292]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [296]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

This is difficult MATH & PROGRAMMING PROBLEM - if you like this type of math problem check EULER PROJECT - for more practice

In [319]:
def count_primes(num):

    #Check for 0 and 1 (not prime)
    if num < 2:
        return 0

    #2 or greater

    # store prime numebers
    primes = [2]
    
    # counter that goes up to the input num
    x = 3

    # x is going through every number to the input number
    while x <= num:
        # check if x is prime with steps of 2 because we know that every even number wont be prime as it's divisible by 2
        for y in primes: # or you can also say --> for y in range (3, x, 2):
            if x%y == 0: #if true we know its not prime
                x +=2
                break #break out of the for loop
        else: #this else belongs to the for loop - this is unique to Python
            primes.append(x) #add prime to list of primes
            x+=2
            
    print(primes)
    return (len(primes))

In [316]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [321]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [323]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!